*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
}
input{
    outline: none;
    border: none;
    font-size: 20px;
    width: 100%;
    border-radius: 5px;
}
button{
    outline: none;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 2px;
    padding: 5px;
    cursor: pointer;
}
.title{
    margin:auto;
    color: #a8de72;
}

/* Navbar component style */

.navbar {
    width: 100%;
    padding: 15px 5px;
    background-color:#809dd3; 
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform 0.3s ease;
  }
  
  .navbar:hover {
    transform: translateY(-5px); /* Lift the navbar slightly on hover */
  }
  


/* AlbumsList component style */
.albums-list{
    width: 70%;
    margin: auto;
    padding-top: 73px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* List component style */
.list{
    width: 310px;
    height: 200px;
    background: linear-gradient(135deg, #bddd9d, #9aacce);
    border-radius: 10px;
    margin: 20px ;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 7px 3px rgba(0, 0, 0, 0.3);
}
.list:hover{
    transform: translateY(-5px);
}
.list h3{
    text-align: center;
    text-transform: capitalize;
}
.button-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.update-btn{
    background-color: rgb(108, 121, 122);
    color: white;
    border: 0px;
    padding: 10px 20px;
    cursor: pointer;
}
.update-btn:hover{
    background-color: white;
    color: black;
}
.delete-btn{
    cursor: pointer;
    border: 0px;
    padding: 10px 20px;
    background-color: rgb(195, 91, 91);
    color: white;
}
.delete-btn:hover{
    color:rgb(193, 84, 84);
    background-color:white;
}

/* UpdateAlbum component style */
.update-album{
    width: 350px;
    margin: auto;
    padding-top: 73px;
    color: white;
}
.form-container{
    background-color: #478AC9;
    padding: 10px;
    margin-top: 50px;
    background: linear-gradient(135deg, #bddd9d, #9aacce);
    box-shadow: 8px 14px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.inp-container{
    margin: 10px;
}
.form-container button{
    background-color:rgb(52, 190, 52);
    padding: 10px 20px;
    color: white;
    margin: 10px;
}

/* addAlbum container style */
.addalbum-container{
    color: white;
    padding-top: 73px;
    width: 350px;
    margin: auto;
}
.addalbum-form{
    padding: 10px;
    background-color: #478AC9;
    margin-top: 50px;
    border-radius: 10px;
    background: linear-gradient(135deg, #bddd9d, #9aacce);
    box-shadow: 8px 14px 6px rgba(0, 0, 0, 0.3);
}
.addalbum-form button{
    background-color: rgb(52, 190, 52);
    padding: 10px 20px;
    color: white;
    margin: 10px;
}
